frr version 7.0+cl4u3
frr defaults datacenter
hostname {{ hostname }}
log syslog informational
service integrated-vtysh-config
!
vrf exp
 ip route 10.30.50.0/24 Null0
 ip route 10.87.0.0/16 Null0
 ip route 85.91.54.0/24 Null0
 ip route 0.0.0.0/0 172.30.87.1 254
 exit-vrf
!
interface vlan187 vrf exp
 pbr-policy pbr-exp
interface vlan387 vrf exp
 pbr-policy pbr-exp
!
router-id {{ router_id }}
!
router bgp 64513 vrf exp
{% for m in masters_exp %}
 neighbor {{ m.ip_address }} remote-as 64514
{% endfor %}
{% for w in workers_exp %}
 neighbor {{ w.ip_address }} remote-as 64514
{% endfor %}
 neighbor 172.30.87.2 remote-as 51553
 neighbor 172.30.87.2 password {{ core_network_bgp_password }}
 neighbor 172.30.87.3 remote-as 51553
 neighbor 172.30.87.3 password {{ core_network_bgp_password }}
 neighbor 192.168.87.2 remote-as 51553
 neighbor 192.168.87.2 password {{ core_network_bgp_password }}
 neighbor 192.168.87.3 remote-as 51553
 neighbor 192.168.87.3 password {{ core_network_bgp_password }}
 !
 address-family ipv4 unicast
  network 10.87.0.0/16
  network 85.91.54.0/24
  neighbor 172.30.87.2 prefix-list private-exp out
  neighbor 172.30.87.3 prefix-list private-exp out
  neighbor 192.168.87.2 prefix-list public-exp out
  neighbor 192.168.87.2 prefix-list rm-default-route in
  neighbor 192.168.87.3 prefix-list public-exp out
  neighbor 192.168.87.3 prefix-list rm-default-route in
  maximum-paths ibgp 10
 exit-address-family
!
ip prefix-list private-exp seq 5 permit 10.87.0.0/16
ip prefix-list public-exp seq 5 permit 85.91.54.0/24
ip prefix-list rm-default-route seq 5 deny 0.0.0.0/0
ip prefix-list rm-default-route seq 10 permit 0.0.0.0/0 le 32
!
pbr-map pbr-exp seq 1
 match src-ip 85.91.54.0/24
 set nexthop 192.168.87.1 vlan287 nexthop-vrf exp
!
line vty
!
