auto lo
iface lo inet loopback

iface ens4f0np0 inet manual
	mtu 9000

iface ens5f0np0 inet manual
	mtu 9000

auto bond0
iface bond0 inet manual
	bond-slaves ens4f0np0 ens5f0np0
	bond-miimon 100
	bond-mode 802.3ad
	bond-xmit-hash-policy layer2+3
	mtu 9000

iface bond0.187 inet manual
	mtu 9000

auto vmbr0v187
iface vmbr0v187 inet static
	address {{ ansible_default_ipv4.address }}/24
	gateway 10.87.0.1
	bridge-ports bond0.187
	bridge-stp off
	bridge-fd 0
	mtu 9000

auto vmbr0
iface vmbr0 inet manual
	bridge-ports bond0
	bridge-stp off
	bridge-fd 0
	mtu 9000

iface ens5f1np2 inet manual

iface ens4f1np2 inet manual

iface ens6f0np0 inet manual

iface ens6f1np2 inet manual

iface eno1 inet manual

iface eno2 inet manual

iface eno3 inet manual

iface eno4 inet manual

iface eno5 inet manual

iface eno6 inet manual

iface eno7 inet manual

iface eno8 inet manual


source /etc/network/interfaces.d/*
