auto lo
iface lo inet loopback

iface {{ eth_iface_1 }} inet manual
	mtu 9000

iface {{ eth_iface_2 }} inet manual
	mtu 9000

auto bond0
iface bond0 inet manual
	bond-slaves {{ eth_iface_1 }} {{ eth_iface_2 }}
	bond-miimon 100
	bond-mode 802.3ad
	bond-xmit-hash-policy layer2+3
	mtu 9000

auto vmbr0
iface vmbr0 inet static
	address {{ ansible_default_ipv4.address }}/22
	gateway {{ default_gateway }}
	bridge-ports bond0
	bridge-stp off
	bridge-fd 0
	mtu 9000

source /etc/network/interfaces.d/*
