[Unit]
Description=Prometheus node_exporter
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/bin/node_exporter \
  --path.rootfs /etc/node-exporter --collector.textfile.directory=/etc/node-exporter/prom-text-collectors

[Install]
WantedBy=multi-user.target
