- name: Ensure /opt/bin directory exists
  file:
    path: /opt/bin
    state: directory
  tags: ssh-key-agent,node-exporter

- name: copy ssh config patch for infra keys
  copy:
    src: files/99-custom-authkeys.conf
    dest: /etc/ssh/sshd_config.d/99-custom-authkeys.conf
  notify:
    - restart sshd
  tags: ssh-key-agent

- name: Download ssh-key-agent {{ ssh_key_agent_vesion }} binary
  get_url:
    url: "https://github.com/utilitywarehouse/ssh-key-agent/releases/download/{{ ssh_key_agent_vesion }}/ssh-key-agent_{{ ssh_key_agent_vesion }}_linux_amd64"
    dest: /tmp/ssh-key-agent
    mode: '0755'
  delegate_to: localhost
  become: no
  tags: ssh-key-agent

- name: Copy ssh-key-agent binary to target
  ansible.builtin.copy:
    src: /tmp/ssh-key-agent
    dest: /opt/bin/ssh-key-agent
    mode: '0755'
  tags: ssh-key-agent

- name: Copy ssh-key-agent systemd service unit file
  template:
    src:  ssh-key-agent.service.tmpl
    dest: /etc/systemd/system/ssh-key-agent.service
  notify:
    - daemon-reload
    - restart ssh-key-agent
  tags: ssh-key-agent

- name: enable ssh-key-agent service
  service:
    name: ssh-key-agent.service
    state: started
    enabled: yes
  tags: ssh-key-agent

- name: Download, extract and copy node-exporter binary
  unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v{{node_exporter_version}}/node_exporter-{{node_exporter_version}}.linux-amd64.tar.gz"
    dest: /tmp
    remote_src: yes
  delegate_to: localhost
  become: no
  tags: node-exporter

- name: Copy ssh-key-agent binary to target
  ansible.builtin.copy:
    src: /tmp/node_exporter-{{node_exporter_version}}.linux-amd64/node_exporter
    dest: /opt/bin/node_exporter
    mode: '0755'
  tags: node-exporter

- name: Ensure prometheus text collectors directory exists
  file:
    path: /etc/node-exporter/prom-text-collectors
    state: directory
  tags: node-exporter

- name: copy static prometheus metrics
  copy:
    src: files/machine_role.prom
    dest: /etc/node-exporter/prom-text-collectors/machine_role.prom
  notify:
    - restart node-exporter
  tags: node-exporter

- name: Copy node-exporter systemd service unit file
  template:
    src:  node-exporter.service.tmpl
    dest: /etc/systemd/system/node-exporter.service
  notify:
    - daemon-reload
    - restart node-exporter
  tags: node-exporter

- name: Make sure node-exporter is enabled and running
  service:
    name: node-exporter
    state: started
    enabled: yes
  tags: node-exporter

- name: Copy network interfaces configuration
  template:
    src: network-interfaces.tmpl
    dest: "/etc/network/interfaces"
  notify:
    - reload network interfaces
  tags: network

- name: Copy sysctl.conf configuration
  copy:
    src: files/sysctl.conf
    dest: "/etc/sysctl.conf"
  notify:
    - update sysctl
  tags: network
