[Unit]
Description=ssh-key-agent
After=docker.service
Requires=docker.service
[Service]
Restart=on-failure
ExecStartPre=-/bin/mkdir -p {{ ssh_agent_user_home }}/.ssh
ExecStartPre=-/usr/bin/touch {{ ssh_agent_user_home }}/.ssh/authorized_keys
ExecStartPre=-/bin/chown -R "{{ ssh_agent_user }}":"{{ ssh_agent_user_group }}" {{ ssh_agent_user_home }}/.ssh
ExecStartPre=-/bin/chmod 700 {{ ssh_agent_user_home }}/.ssh
ExecStartPre=-/bin/chmod 644 {{ ssh_agent_user_home }}/.ssh/authorized_keys
ExecStart=/bin/sh -c 'docker run --name=%p_$(uuidgen) --rm \
 -v /root/.ssh/authorized_keys:/authorized_keys \
 -e SKA_KEY_URI={{ ssh_agent_uri }} \
 -e SKA_GROUPS={{ ssh_agent_groups }} \
 -e SKA_AKF_LOC=/authorized_keys \
 -e SKA_INTERVAL=60 \
 quay.io/utilitywarehouse/ssh-key-agent:{{ ssh_agent_version }}'
ExecStop=/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
[Install]
WantedBy=multi-user.target
