default-lease-time 43200;
max-lease-time 43200;
option domain-name-servers {{ dns }};

allow booting;
allow bootp;

subnet {{ subnet }} netmask {{ netmask }} {
  deny unknown-clients;
  option routers {{ router }};
  option domain-name "{{ domain_name }}";
}

## Cfssl
{% if cfssl is defined %}
{% for c in cfssl %}
{% for mac_address in c.mac_addresses %}
host cfssl-{{ loop.index }} {
  option host-name "cfssl.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ c.ip_address }};
{% if c.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ c.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

## Cfssl PVE
{% if cfssl_pve is defined %}
host cfssl-pve {
  option host-name "cfssl.{{ domain_name }}";
  hardware ethernet {{ cfssl_pve.mac_address }};
  fixed-address {{ cfssl_pve.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endif %}

## Etcd
{% if etcd is defined %}
{% for e in etcd %}
{% set etcd_count = loop.index-1 %}
{% for mac_address in e.mac_addresses %}
host etcd-{{ etcd_count }}-{{ loop.index }} {
  option host-name "etcd-{{ etcd_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ e.ip_address }};
{% if e.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ e.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

## ETCD PVE
## Hostnames should also be calculated the same way on terraform under
## https://github.com/utilitywarehouse/tf_kube_pve/blob/main/variables.tf
{% if etcd_pve is defined %}
{% for e in etcd_pve if etcd_pve %}
{% set etcd_count = loop.index-1 %}
host etcd-pve-{{ etcd_count }} {
  option host-name "etcd-{{ etcd_count }}.{{ domain_name }}";
  hardware ethernet {{ e.mac_address }};
  fixed-address {{ e.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endfor %}
{% endif %}

## Masters
{% if vars["masters_" + env] is defined %}
{% for m in vars["masters_" + env] %}
{% set master_count = loop.index-1 %}
{% for mac_address in m.mac_addresses %}
host master-{{ master_count }}-{{ loop.index }} {
  option host-name "master-{{ master_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ m.ip_address }};
{% if m.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ m.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

## Masters PVE
## Hostnames should also be calculated the same way on terraform under
## https://github.com/utilitywarehouse/tf_kube_pve/blob/main/variables.tf
{% if vars["masters_pve_" + env] is defined %}
{% for m in vars["masters_pve_" + env] %}
{% set master_count = loop.index-1 %}
host master-pve-{{ master_count }} {
  option host-name "master-{{ m.mac_address | hash('sha256') | truncate(6, True, '') }}.{{ domain_name }}";
  hardware ethernet {{ m.mac_address }};
  fixed-address {{ m.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endfor %}
{% endif %}

## Workers
{% if vars["workers_" + env] is defined %}
{% for w in vars["workers_" + env] %}
{% set worker_count = loop.index-1 %}
{% for mac_address in w.mac_addresses %}
host worker-{{ worker_count }}-{{ loop.index }} {
  option host-name "worker-{{ worker_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ w.ip_address }};
{% if w.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ w.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

## Workers PVE
## Hostnames should also be calculated the same way on terraform under
## https://github.com/utilitywarehouse/tf_kube_pve/blob/main/variables.tf
{% if vars["workers_pve_" + env] is defined %}
{% for w in vars["workers_pve_" + env] %}
{% set worker_count = loop.index-1 %}
host worker-pve-{{ worker_count }} {
  option host-name "worker-{{ w.mac_address | hash('sha256') | truncate(6, True, '') }}.{{ domain_name }}";
  hardware ethernet {{ w.mac_address }};
  fixed-address {{ w.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endfor %}
{% endif %}

{% if ("matchbox_" + env) in vars %}
## Matchbox
{% for m in vars["matchbox_" + env] %}
{% set matchbox_count = loop.index-1 %}
{% for mac_address in m.mac_addresses %}
host matchbox-{{ matchbox_count }}-{{ loop.index }} {
  option host-name "matchbox-{{ matchbox_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ m.ip_address }};
{% if m.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox_external }}";
  } else {
    filename "{{ m.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox_external }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

{% if ("wiresteward_" + env) in vars %}
## Wiresteward
{% for w in vars["wiresteward_" + env] %}
{% set wiresteward_count = loop.index-1 %}
{% for mac_address in w.mac_addresses %}
host wiresteward-{{ wiresteward_count }}-{{ loop.index }} {
  option host-name "wiresteward-{{ wiresteward_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ w.ip_address }};
{% if w.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ w.ipxe_binary }}";
  }
{% else %}
  filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}

{% if ("nat_" + env) is defined %}
## NAT boxes
{% for n in vars["nat_" + env] %}
{% set nat_count = loop.index-1 %}
{% for mac_address in n.mac_addresses %}
host nat-{{ nat_count }}-{{ loop.index }} {
  option host-name "nat-{{ nat_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ n.ip_address }};
{% if n.ipxe_binary is defined %}
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "{{ n.ipxe_binary }}";
  }
{% else %}
    filename "{{ dhcp_matchbox }}";
{% endif %}
}
{% endfor %}
{% endfor %}
{% endif %}
