default-lease-time 43200;
max-lease-time 43200;
option domain-name-servers {{ dns }};

allow booting;
allow bootp;

subnet {{ subnet }} netmask {{ netmask }} {
  deny unknown-clients;
  option routers {{ router }};
  option domain-name "{{ domain_name }}";
}

## Cfssl
{% for c in cfssl %}
{% for mac_address in c.mac_addresses %}
host cfssl-{{ loop.index }} {
  option host-name "cfssl.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ c.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}

## GoBgp
{% for g in gobgp %}
{% set gobgp_count = loop.index-1 %}
{% for mac_address in g.mac_addresses %}
host gobgp-{{ gobgp_count }}-{{ loop.index }} {
  option host-name "gobgp-{{ gobgp_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ g.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}

## Etcd
{% for e in etcd %}
{% set etcd_count = loop.index-1 %}
{% for mac_address in e.mac_addresses %}
host etcd-{{ etcd_count }}-{{ loop.index }} {
  option host-name "etcd-{{ etcd_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ e.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endfor %}
{% endfor %}

## Masters
{% for m in vars["masters_" + env] %}
{% set master_count = loop.index-1 %}
{% for mac_address in m.mac_addresses %}
host master-{{ master_count }}-{{ loop.index }} {
  option host-name "master-{{ master_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ m.ip_address }};
  filename "{{ dhcp_matchbox }}";
}
{% endfor %}
{% endfor %}

## Workers
{% for w in vars["workers_" + env] %}
{% set worker_count = loop.index-1 %}
{% for mac_address in w.mac_addresses %}
host worker-{{ worker_count }}-{{ loop.index }} {
  option host-name "worker-{{ worker_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ w.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.efi";
  }
}
{% endfor %}
{% endfor %}

## Matchbox
{% for m in vars["matchbox_" + env] %}
{% set matchbox_count = loop.index-1 %}
{% for mac_address in m.mac_addresses %}
host matchbox-{{ matchbox_count }}-{{ loop.index }} {
  option host-name "matchbox-{{ matchbox_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ m.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox_external }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}

## Wiresteward
{% for w in vars["wiresteward_" + env] %}
{% set wiresteward_count = loop.index-1 %}
{% for mac_address in w.mac_addresses %}
host wiresteward-{{ wiresteward_count }}-{{ loop.index }} {
  option host-name "wiresteward-{{ wiresteward_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ w.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}

## NAT boxes
{% for n in vars["nat_" + env] %}
{% set nat_count = loop.index-1 %}
{% for mac_address in n.mac_addresses %}
host nat-{{ nat_count }}-{{ loop.index }} {
  option host-name "nat-{{ nat_count }}.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ n.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}

## Exp Wiresteward
{% for w in vars["exp_wiresteward_" + env] %}
{% set wiresteward_count = loop.index-1 %}
{% for mac_address in w.mac_addresses %}
host exp-wiresteward-{{ wiresteward_count }}-{{ loop.index }} {
  option host-name "{{ wiresteward_count }}.exp-wiresteward.{{ domain_name }}";
  hardware ethernet {{ mac_address }};
  fixed-address {{ w.ip_address }};
  if exists user-class and option user-class = "iPXE" {
    filename "{{ dhcp_matchbox }}";
  } else {
    filename "ipxe.pxe";
  }
}
{% endfor %}
{% endfor %}
