[Unit]
Description=dnsmasq-test
After=docker.service
Requires=docker.service
[Service]
Restart=on-failure
ExecStart=/bin/sh -c 'docker run --rm --name=dnsmasq_test --cap-add=NET_ADMIN --net=host \
 -v /etc/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf \
 -v /etc/dnsmasq/tftpboot:/var/lib/tftpboot \
 {{ dnsmasq_image }}'
ExecStop=/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=dnsmasq_test)"'
[Install]
WantedBy=multi-user.target

