# dnsmasq.conf
no-daemon

# set port to 0 so that dnsmasq knows its not being used as a dns server
#port=0

# Only listen to routers' LAN NIC.  Doing so opens up tcp/udp port 53 to
# localhost and udp port 67 to world:
{{ dhcp_listen_interfaces }} 

# dnsmasq will open tcp/udp port 53 and udp port 67 to world to help with
# dynamic interfaces (assigning dynamic ips). Dnsmasq will discard world
# requests to them, but the paranoid might like to close them and let the
# kernel handle them:
bind-interfaces

{{ dhcp_ranges }}

## Static hosts
{{ dhcp_static_hosts }}

{{ dhcp_options }}

log-queries
log-dhcp

dhcp-match=set:bios,option:client-arch,0 
dhcp-boot=tag:bios,undionly.kpxe 

dhcp-match=set:efi32,option:client-arch,6
dhcp-boot=tag:efi32,ipxe.efi 
dhcp-match=set:efibc,option:client-arch,7 
dhcp-boot=tag:efibc,ipxe.efi 
dhcp-match=set:efi64,option:client-arch,9 
dhcp-boot=tag:efi64,ipxe.efi
dhcp-userclass=set:ipxe,iPXE 
# tftp
enable-tftp
tftp-root=/var/lib/tftpboot
dhcp-boot=tag:ipxe,{{ dhcp_matchbox }}
