frr version 7.0+cl4u3
frr defaults datacenter
hostname {{ hostname }}
log syslog informational
service integrated-vtysh-config
!
vrf exp
 ip route 10.88.10.0/25 Null0
 ip route 0.0.0.0/0 192.168.220.4
 exit-vrf
!
interface vlan1188 vrf exp
!
!
router-id {{ router_id }}
!
router bgp 64512 vrf exp
{% for me in masters_exp %}
 neighbor {{ me.ip_address }} remote-as 64513
{% endfor %}
{% for we in workers_exp %}
 neighbor {{ we.ip_address }} remote-as 64513
{% endfor %}
!
