[iptables]
# Drop traffic to cumulus vlan 387 ips but allow FORWARD to be able to use these
# as nect hops for public traffic
-A INPUT -d 85.91.54.252/32 -j DROP
-A INPUT -d 85.91.54.253/32 -j DROP
-A INPUT -d 85.91.54.254/32 -j DROP
