[iptables]
# aws jumpbox access
-A FORWARD -p tcp -s 10.66.0.0/16 -d 10.87.0.0/16 --dport 22 -j ACCEPT
 # dev-merit wiresteward access
-A FORWARD -p tcp -s 10.88.0.0/16 -d 10.87.0.0/16 --dport 22 -j ACCEPT
# vpn access
-A FORWARD -p tcp -s 10.71.0.0/16 -d 10.87.0.0/16 --dport 22 -j ACCEPT
-A FORWARD -p tcp -s 10.91.0.0/16 -d 10.87.0.0/16 --dport 22 -j ACCEPT
-A FORWARD -s 10.87.0.0/16 -j ACCEPT
# The comment below is not completely true as we don't have nat boxes in EXP.
# but we will leave it as we have plans to deploy it.
#
#
# Since we are natting all traffic on moonshot nodes (so before hitting cumulus
# for the last time before packets are routed out) we need to allow forwarding
# packets from our public subnets as well. Otherwise all traffic from one of our
# public addresses to dport 22 will be dropped.
-A FORWARD -s 85.91.54.0/24 -j ACCEPT
-A FORWARD -p tcp --dport 22 -j DROP
