[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
ExecStart=/bin/ip vrf exec %i /opt/bin/promtail-linux-amd64 -config.file /etc/promtail/config-promtail.yml --client.external-labels=hostname=%H

[Install]
WantedBy=multi-user.target
